.container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 800px;
  }
  
  .img1{
    width: 200px;
    height: 200px;
}

.box{
    width: 200px;
    height: 300px;
}
  